<h2 class="contact__title">Entre em contato</h2>
<section class="contact__container">
    <form class="contact-form">
        <input type="text" placeholder="Digite o seu nome">
        <input type="assunto" placeholder="Digite o assunto">
        <input type="tel" placeholder="(00) 0 0000-0000">
        <input type="email" placeholder="Digite seu email">
        <textarea maxlength="300" placeholder="Digite sua mensagem..."></textarea>
        <button>Enviar</button>
    </form>
    <address>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31873230.032661226!2d-53.20149599694643!3d-12.7931020014888!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9bd98017a185e7%3A0x72a535c391470b3b!2sCBF%20-%20Confedera%C3%A7%C3%A3o%20Brasileira%20de%20Futebol!5e0!3m2!1spt-BR!2sbr!4v1670887960461!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <p>Avenida Luis Carlos Prestes 130. Barra da Tijuca - Rio de Janeiro/RJ - CEP: 22775-055</p>
    </address>
</section>